lock_foo "take foo lock"
  -> !foo_locked "cannot take foo lock recursively"
  -> !bar_locked "cannot take foo lock while bar lock is held";

foo_locked "assume foo is locked";

lock_bar "take bar lock"
  -> !bar_locked "cannot take bar lock recursively";

bar_locked "assume bar is locked";

.enforce "violated-restriction.c";
